html,body{
    height: 100%;
    margin: 0;
}

main{
    text-align: center;
    margin-top: 20vh;
}
main a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

main a img{
    width: 20vw;
}

.background{
    top: 0%;
    background-image: url("./asset/matterhorn-mountains.jpg") ;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.background-park{
    background-image: url("./images/national\ parks.jpg");
    background-position: 100%;
}
.park-result{
    background-color: rgba(245, 231, 231, 0.2);
    backdrop-filter: blur(8px);
}

.overlay{
    position:absolute;
    text-align:left;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.glass{
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
}

.glass th,
.glass td{
    color: #222222;
}
#results{
    color: white;
}

.heading{
    color:black;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.navbar{
    background-color:whitesmoke;
    opacity: 45%;
    font-size: x-large;
}
.navbar-light .navbar-nav .nav-link{ 
      color: black !important; /* Forces the color to be white */
    } 
      .navbar-light .navbar-toggler{   
        color: black; /* Changes the toggle button color */ 
    }

.navbar-expand-lg-navbar-light{
    text-align: center;
    margin-top: 100%;
}

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

.glass-table {
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    width: fit-content;
}